.checkbox-container {
    display: flex;
    align-items: center;
    cursor: pointer;
}
.checkbox-icon {
    font-size: 1.2rem;
    margin-right: 8px;
}

@media (max-width: 768px) {
    .checkbox-label {
        font-size: .8rem;
    }
    .checkbox-icon {
        font-size: 1rem;
    }
}
