.checkbox-container {
    display: flex;
    align-items: center;
    cursor: pointer;
}
.checkbox-icon {
    font-size: 1.5rem;
    margin-right: 8px;
}

.checkbox-label {
    font-size: 1.2rem;
}
@media (max-width: 768px) {
    .checkbox-label {
        font-size: .8rem;
    }
}
