@font-face {
    font-family: 'Exo';
    src: url('../public/css/fonts/Exo/Exo-VariableFont_wght.ttf') format('truetype');
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
:root {
    --backgroung-color: #FAF2EA;
    --primary-color: #226D68;
}
body{
    font-family: Exo, sans-serif !important;
}
.App {
    color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.app-container {
    background-color: var(--backgroung-color);
    border: 1px solid var(--primary-color);
    border-radius: 3rem;
    width: 50vw;
    max-width: 500px;
    padding: 2rem;
    margin: 1rem;
}
.app-container > *:not(:last-child) {
    margin-bottom: 3rem !important;
}
.container1{
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

/*Responsive*/

@media (max-width: 768px) {
    *{
        font-size: .9rem;
    }
    .app-container {
        width: 80vw;
        padding: 1rem;
        border-radius: 2rem;
    }
    .app-container > *:not(:last-child) {
        margin-bottom: .5rem !important;
    }
    .container1 {
        margin-top: 2rem;
        flex-direction: column;
    }

    .bodies-div {
        flex-direction: column;
        padding: 2rem;
    }
    .body-info {
        font-size: .8rem;
    }

    .select {
        width: 100%;
        margin-top: 1rem;
    }
    .checkbox-container{
        margin-bottom: 2rem;
    }
}

